/**** Logo *****/

.logo {
 height: 100px;
 width: 100px;
 border-radius: 8px;
 margin-left: 50px;
 float: left;
 clear: left;
 margin-right: 10px;
}

/**** Navbar *****/
#navbar {
   overflow: hidden;
   background-color: maroon;
  
}

#navbar a{
    float: left;
    display: block;
    padding: 5px;
    text-align: center;
    color: white;
    
}
#navbar a:hover {
    background-color: gray;
}

/**** Columns *****/
.column {
    float: left;
    
}
.left {
    width: 60%;
  
   
}
.right{
    width: 40%;
   
}
.row{
    padding-left: 10px;
    padding-right:10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}
  

/**** Quote Form *****/



/**** Media Queries *****/

@media only screen and (max-width: 768px){

.column {
    float: left;
    width: 100%;
  

}
}


